#nav {
	background: #765C3D !important; 
}

nav a {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 500;
	line-height: 21.94px;

	color: #F2D2AE !important;
}

#title {
	font-family: Montserrat;
	font-size: 64px;
	font-weight: 600;
	line-height: 72px;
	
	color: #FFFFFF;
}

#description {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	
	color: #FFFFFF;
}

#base {
	padding: 12px 32px 12px 32px;
	border-radius: 30px 30px 30px 30px;

	background: #B59066;

	font-family: Montserrat;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;

	color: #FFFFFF;
}

#landing {
	background: linear-gradient(
		rgba(0, 0, 0, 0.59),
		rgba(0, 0, 0, 0.59)
	),
	url("./images/banner.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#landing p {
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;

	color: #FFFFFF;

}

#text-title {
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 600;
	line-height: 48.76px;

	color: #765C3D;
}

#about p {
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 400;
	line-height: 29.26px;

	color: #765C3D;
}

#head-text {
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 600;
	line-height: 48px;

	color: #765C3D;
}

#gallery p {
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
 
	color: #765C3D;
}

 #Rectangle {
    width: 100%; /* Make it responsive */
   	height: auto; /* Adjust height proportionally */
   	top: 100px; /* Adjust the top offset */
   	left: 10px; /* Adjust the left offset */
   	background: #FFFFFF;
	box-shadow: 0px 4px 23px 0px #00000040;
}

@media (max-width: 768px) {
    #Rectangle {
        position: relative; /* Maintain proper positioning */
    }
    #Rectangle p,   /* Or any text element inside the rectangle */
    #Rectangle h5 {
        display: none;
    }
}


/*contact*/

#contact
{
background: #FFF2E4;

}

.image-column {
	height:100vh;
	background: linear-gradient(

			rgba(0, 34, 65, 0.61),
			rgba(0, 34, 65, 0.61)

		),
		url("./images/pexels.png")
		no-repeat center center;
		background-size: cover;
}
		
	




#button {
	background: #B59066;
	border-radius: 50px;
	width: 120px;
	height: 45px;

	
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;*
}

#form h2 {
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 600;
	line-height: 48.76px;

	color: #765C3D !important;
}

#form p {
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 400;
	line-height: 29.26px;

	color: #765C3D;
}


#form label {

font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 24.38px;
color: #B59066;
}

#form input {
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
color: #765C3D;
}


footer{
background: #B59066;

}*/

footer p{

font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
color: #FFF2E4 !important;

